div{
    color: white;
    width: 100%;
}

.page-cmpt{
    width: 577px;
    height: 685px;
    flex-direction: column;
    color: white;
}

text {
    color: white;
}

.font-gray{
    color: #9E9E9E;
}

.text-big{
    font-size: 52px;
}

.main-card{
    width: 100%;
    border-radius: 52px;
    background-color: rgba(51, 45, 45, 0.6);
    color: white;
    padding: 32px 22px 32px 22px;
    align-items: center;
    justify-content: space-between;
}
.item-card{
    width: 100%;
    border-radius: 52px;
    flex-shrink: 0;
    background-color: rgba(51, 45, 45, 0.6);
    color: white;
    padding: 32px 14px 32px 32px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}

.col{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}